#metrics_with_data{data: {metrics: Metric.has_data }}
= simple_form_for @metric, :html => { :class => 'form-horizontal'},  :validate => true  do |f|

  = f.input :month, label: 'месяц',  :as => :date_picker, :input_html => { :id => 'monthsDatepicker'}, :format => :short_month_year

  %h4 кухня
  = f.input :cold_counter_kitchen, label: 'холодная вода'
  = f.input :hot_counter_kitchen,  label: 'горячая вода'

  %h4 ванная
  = f.input :cold_counter_bathroom, label: 'холодная вода'
  = f.input :hot_counter_bathroom,  label: 'горячая вода'

  %h4 свет
  = f.input :energy_counter, label:'электроэнергия'
  = f.submit 'сохранить', :class => 'btn btn-primary span2'