<div class="metric_form">
<%= form_for @metric ,:validate => true do |f| %>
  <% if @metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric.errors.count, "error") %> prohibited this metric from being saved:</h2>

      <ul>
      <% @metric.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h4>Кухня</h4>
    <div class="field" >
      <%= f.label :cold_counter_kitchen, 'Холодная вода' %><br />
      <%= f.text_field :cold_counter_kitchen %>
    </div>
    <div class="field" >
      <%= f.label :hot_counter_kitchen, 'Горячая вода' %><br />
      <%= f.text_field :hot_counter_kitchen, rows: 6 %>
    </div>

    <h4>Ванная</h4>

    <div class="field">
      <%= f.label :cold_counter_bathroom, 'Холодная вода' %><br />
      <%= f.text_field :cold_counter_bathroom %>
    </div>
    <div class="field">
      <%= f.label :hot_counter_bathroom, 'Горячая вода' %><br />
      <%= f.text_field :hot_counter_bathroom %>
    </div>
    <h4>Свет</h4>
    <div class="field">
      <%= f.label :energy_counter, 'Электроэнергия' %><br />
      <%= f.text_field :energy_counter %>
    </div>

  <div class="actions">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>
</div>
