.settings-form
  = simple_form_for notification_settings, :url => save_settings_path, :method => :post, :html => { :class => 'form-horizontal'},  :validate => true  do |f|
    = f.input :enabled, :label => 'включить уведомления', :wrapper => :inline_checkbox
    .inner
      = f.input :notify_by_email, :label => 'почта', :wrapper => :inline_checkbox
      = f.input :notify_by_phone, :label => 'SMS', :wrapper => :inline_checkbox
      = f.input :day, :label => 'день уведомления', :as => :select, :collection => (1..31).to_a
      .row.notification-time
        .hours
          = f.input :hour, :label => 'время уведомления', :as => :select, :collection => (0..23).to_a
        .minutes
          = f.input :minute, :label => false, :as => :select, :collection => (0..59).map {|min| '%02d' % min}.to_a,
            :selected => '%02d' % notification_settings.minute
    = f.submit 'сохранить', :class => 'btn btn-primary span2'

