= simple_form_for @tariff, :html => { :class => 'form-horizontal'},  :validate => true  do |f|

  = f.input :hot_water, label: 'горячая вода', placeholder: current_tariff.hot_water.to_s
  = f.input :cold_water,  label: 'холодная вода', placeholder: current_tariff.cold_water.to_s
  = f.input :utilities,  label: 'водоотведение', placeholder: current_tariff.utilities.to_s
  = f.input :energy, label:'электроэнергия', placeholder: current_tariff.energy.to_s

  = f.input :start_date, label: 'дата начала',  :as => :date_picker
  = f.input :end_date, label: 'дата окончания', :as => :date_picker

  = f.submit 'сохранить', :class => 'btn btn-primary span2'