.tariff
  .header
    -if tariff == current_tariff
      %h4 текущий тариф ( c #{l(tariff.start_date.to_date, :format => :long)} )
    -else
      - start_date = tariff.start_date ? l(tariff.start_date.to_date, format: :long) : ''
      - end_date = tariff.end_date ? l(tariff.end_date.to_date, format: :long) : ''
      %h4 c #{start_date} по #{end_date}
    .icons
      = link_to edit_tariff_path(tariff) do
        %i.icon-pencil{:title => 'редактировать тариф'}
      %i.icon-remove{:title => 'удалить тариф', :data => {:url => "#{tariff_path(tariff)}" }}
  %div{:class => 'tariff-body'}
    .names.span3
      %p горячая вода
      %p холодная вода
      %p водоотведение
      %p электроэнергия
    .values
      %p #{tariff.hot_water} р
      %p #{tariff.cold_water} р
      %p #{tariff.utilities} р
      %p #{tariff.energy} р