<div class="cell-container">
  <div class="left-column">
    <div class="value-block">
      <p class="header">гвс</p>
      <p class="value"><%= report.hot_water %></p>
    </div>

    <div class="value-block">
      <p class="header">слив</p>
      <p class="value"><%= report.utilities %></p>
    </div>

  </div>

  <div class="right-column">

    <div class="value-block">
        <p class="header">хвс</p>
        <p class="value"><%= report.cold_water %></p>
    </div>

    <div class="value-block">
        <p class="header">свет</p>
        <p class="value"><%= report.energy %></p>
    </div>

  </div>

  <hr>
  <div class="total">
    <span class="header">всего:</span>
    <span class="value"><%= number_to_currency report.total %></span>
  </div>
</div>