<p>
  <span >гвс</span>
  <span class="value"><%= report.hot_water %></span>
</p>

<p>
  <span>хвс</span>
  <span class="value"><%= report.cold_water %></span>
</p>

<p>
  <span>слив</span>
  <span class="value"><%= report.utilities %></span>
</p>

<p>
  <span>свет</span>
  <span class="value"><%= report.energy %></span>
</p>

<hr>

<p class="total">
  <span>всего</span>
  <span class="value"><%= report.total %></span>
</p>