<% row_header = is_diff ?  'разность' : metric.month.strftime('%B').downcase %>

<tr>
  <td class='report__row_header'><%= row_header %></td>
  <td><% unless is_diff %> кухня <% end %></td>
  <td><%= metric.hot_counter_kitchen %></td>
  <td><%= metric.cold_counter_kitchen %></td>
  <td></td>
  <td><%= metric.energy_counter %></td>
</tr>

<tr>
  <td></td>
  <td><% unless is_diff %> ванная <% end %></td>
  <td><%= metric.hot_counter_bathroom %></td>
  <td><%= metric.cold_counter_bathroom %></td>
  <td></td>
  <td></td>
</tr>