<% row_header = metric.month.nil? ?  'разность' : metric.month.strftime('%B').downcase %>

<tr>
  <td><%= row_header %></td>
  <td>кухня</td>
  <td><%= metric.hot_counter_kitchen %></td>
  <td><%= metric.cold_counter_kitchen %></td>
  <td></td>
  <td><%= metric.energy_counter %></td>
</tr>

<tr>
  <td></td>
  <td>ванная</td>
  <td><%= metric.hot_counter_bathroom %></td>
  <td><%= metric.cold_counter_bathroom %></td>
  <td></td>
  <td></td>
</tr>