<% row_header = is_diff ?  'разность' : l(metric.month, :format => :month).mb_chars.downcase.to_s  %>
<% utilities_cell = is_diff ? metric.utilities : '&mdash;'.html_safe %>

<tr>
  <td colspan="5" class='metric_separator'></td>
</tr>

<tr class="metric">
  <td rowspan="2" class='row_header'> <%= row_header %> </td>
  <td class="counter_room">кухня</td>
  <td><%= metric.hot_counter_kitchen %></td>
  <td><%= metric.cold_counter_kitchen %></td>
  <td rowspan="2"><%= utilities_cell %></td>
  <td rowspan="2"><%= metric.energy_counter %></td>
</tr>

<tr>

  <td class="counter_room">ванная</td>
  <td><%= metric.hot_counter_bathroom %></td>
  <td><%= metric.cold_counter_bathroom %></td>
  <td></td>
  <td></td>
</tr>




