<% row_header = is_diff ?  'разность' : metric.month.strftime('%B').downcase %>

<tr class="metric">
  <td rowspan="2" class='row_header'> <%= row_header %> </td>
  <td class="counter_room">кухня</td>
  <td><%= metric.hot_counter_kitchen %></td>
  <td><%= metric.cold_counter_kitchen %></td>
  <td></td>
  <td><%= metric.energy_counter %></td>
</tr>

<tr>

  <td class="counter_room">ванная</td>
  <td><%= metric.hot_counter_bathroom %></td>
  <td><%= metric.cold_counter_bathroom %></td>
  <td></td>
  <td></td>
</tr>


