<% month_year = l(report.date,:format => :month_year).mb_chars.downcase.to_s %>
<% last_day = Time::days_in_month(report.date.month) %>
<div class="report-header">
    <h2 class="main-header ">Отчет за <%= month_year %></h2>
    <div class="icons">
      <a class="report-type-switcher" data-toggle="collapse" data-target="#report-collapsing-wrapper" rel="nofollow">
        <div>
          <i class="icon-table"></i>
          <i class="icon-columns"></i>
        </div>
      </a>
      <a rel="nofollow" class="print-report"> <i class="icon-print"></i> </a>
      <a> <i class="icon-envelope"></i></a>
    </div>
</div>

<div class="print-header">
  <p>Показания приборов учета квартиры №<%= apartment_info.number %></p>
  <p>Собственник: <%= apartment_info.owner %></p>
  <p>Период платежа с <%= l(report.date, :format => :day_month_year) %> по
    <%= l(report.date.change(:day => last_day), :format => :day_month_year) %></p>
</div>

<div class="carousel slide" data-interval='false'>
  <div class="carousel-inner">

    <table class="item active">
      <thead>
          <tr>
            <th></th>
            <th></th>
            <th>ГВС</th>
            <th>ХВС</th>
            <th>Слив</th>
            <th>Свет</th>
          </tr>
      </thead>

      <tbody>

      <%= render :partial => 'reports/metric_row', :locals => { :metric => report.current_metric, :is_diff => false } %>
      <%= render :partial => 'reports/metric_row', :locals => { :metric => report.previous_metric, :is_diff => false } %>
      <%= render :partial => 'reports/metric_row', :locals => { :metric => report.difference, :is_diff => true } %>

      <tr>
        <td colspan="6" class='metric_separator'></td>
      </tr>

      <!-- tariff -->
      <tr class="single_line">
        <td class="row-header">тариф</td>
        <td></td>
        <td><%= report.tariff.hot_water %></td>
        <td><%= report.tariff.cold_water %></td>
        <td><%= report.tariff.utilities %></td>
        <td><%= report.tariff.energy %></td>
      </tr>

      <tr>
        <td colspan="6" class='cost_separator '></td>
      </tr>

      <!-- total -->
      <tr class="single_line total_cost">
        <td class="row-header">стоимость</td>
        <td></td>
        <td><%=  report.hot_water %></td>
        <td><%=  report.cold_water %></td>
        <td><%=  report.utilities %></td>
        <td><%=  report.energy %></td>
      </tr>

      <tr>
        <td colspan="6" class='in_total_separator '></td>
      </tr>

      <tr class="in_total">
        <td colspan="6"><%= number_to_currency report.total %></td>
      </tr>
    </table>



  <table  class="rounded-values-report item">
    <thead>
    <tr>
      <th></th>
      <th>до</th>
      <th>после</th>
      <th>разность</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="row-header">ГВС</td>
      <td><%=  report.previous_metric.total_hot_water.round  %></td>
      <td><%=  report.current_metric.total_hot_water.round %></td>
      <td><%=  report.difference.total_hot_water.round %></td>
    </tr>

    <tr>
      <td class="row-header">ХВС</td>
      <td><%=  report.previous_metric.total_cold_water.round  %></td>
      <td><%=  report.current_metric.total_cold_water.round %></td>
      <td><%=  report.difference.total_cold_water.round %></td>
    </tr>

    <tr>
      <td class="row-header">Канализация</td>
      <td></td>
      <td></td>
      <td><%=  report.difference.utilities.round %></td>
    </tr>

    <tr>
      <td class="row-header">Электричество</td>
      <td><%=  report.previous_metric.energy_counter.round  %></td>
      <td><%=  report.current_metric.energy_counter.round %></td>
      <td><%=  report.difference.energy_counter.round %></td>
    </tr>
    </tbody>
  </table>
  </div>
</div>