<h2 class="main_header">Отчет за <%= report.date.strftime('%B %Y') %></h2>

<table>
  <thead>
      <tr>
        <th></th>
        <th></th>
        <th>ГВС</th>
        <th>ХВС</th>
        <th>Слив</th>
        <th>Свет</th>
      </tr>
  </thead>

  <tbody>

      <%= render :partial => 'reports/metric_row', :locals => { :metric => report.current_metric, :is_diff => false } %>

      <%= render :partial => 'reports/metric_row', :locals => { :metric => report.previous_metric, :is_diff => false } %>

      <%= render :partial => 'reports/metric_row', :locals => { :metric => report.difference, :is_diff => true } %>


      <!-- tariff -->
      <tr class="single_line">
        <td class="row_header">тариф</td>
        <td></td>
        <td><%= report.tariff.hot_water %></td>
        <td><%= report.tariff.cold_water %></td>
        <td><%= report.tariff.utilities %></td>
        <td><%= report.tariff.energy %></td>
      </tr>

      <!-- total -->
      <tr class="single_line">
        <td class="row_header">стоимость</td>
        <td></td>
        <td><%= report.hot_water %></td>
        <td><%= report.cold_water %></td>
        <td><%= report.utilities %></td>
        <td><%= report.energy %></td>
      </tr>
  </tbody>
</table>

<p>Total:  <%= report.total %></p>
