<!DOCTYPE html>
<html>
<head>
  <title>Kvartplata</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="container">

    <header>
      <hgroup>
        <h1>Kvartplata</h1>

      </hgroup>
    </header>


    <section class="content">
      <div class='report'>
        <%= yield %>
      </div>
    </section>

    <aside class="aside">
      <section class='side_widget'>
        <h3>Previous reports</h3>
        <%= render :partial => 'reports/report_link', :collection => last_reports, :as => :report  %>
      </section>

      <section>
        <h3>Tariffs</h3>
      </section>

    </aside>

    <footer></footer>
</div>

</body>
</html>
