<!DOCTYPE html>
<html>
<head>
  <title>Kvartplata</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= stylesheet_link_tag 'print/print', :media => 'print' %>
  <%= stylesheet_link_tag 'bootstrap/bootstrap-responsive.min', :media =>  'screen' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="container">

    <div class="navbar navbar-fixed-top">
       <div class="navbar-inner">
         <ul class="nav">
           <li>
             <h3 >
               <a class="brand" href="/">Kvartplata</a>
             </h3>
           </li>
            <li ><%= link_to 'занести показания', new_metric_path %></li>
            <li><%= link_to 'отчеты', reports_path %></li>

           <li><%= link_to 'тарифы', tariffs_path %></li>
           <li><%= link_to 'настройки', '#' %></li>
         </ul>

       </div>

    </div>

    <div class="row">

      <section class="content span7 offset1">
        <div class='report'>
          <%= yield %>
        </div>
      </section>

      <aside class="aside span4">

        <section class='side_widget'>
            <%= render :partial => 'reports/side_widget' %>
        </section>

        <section class="side_widget">
          <%= render :partial => 'tariffs/side_widget', :locals => {tariff: current_tariff} %>
        </section>
      </aside>

    </div>




    <footer></footer>
</div>

</body>
</html>
