!!!
%html
%head
  %title Kvartplata
  = stylesheet_link_tag    'application', :media => 'all'
  = stylesheet_link_tag 'print/print', :media => 'print'
  = stylesheet_link_tag 'bootstrap/bootstrap-responsive.min', :media =>  'screen'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700&subset=latin,cyrillic-ext'

%body
.container
  .navbar.navbar-fixed-top
    .navbar-inner
      .fixed-width-nav.anon
        %ul.nav
          %li
            %h3
              %a.brand{:href => '/'} Kvartplata

        .user-nav
          - if user_signed_in?
            %italic
              = current_user.email
            = link_to 'выйти', destroy_user_session_path, method: :delete
          - else
            .dropdown
              = link_to 'войти','#', :class => 'dropdown-toggle btn', :data => {:toggle => 'dropdown'}
              .dropdown-menu{:role => 'menu',:aria=>{:labelledby=>'dLabel'}}
                =render :partial => 'devise/sessions/form'

  .row
    = yield